html {
  height: 100%;
}

body {
  background-image: url(../img/seating.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Josefin Sans', sans-serif;
  color: #e5dfda;
}

#text{
  color: black;
}

.form_content {
  text-align: center;
  margin-left: 70px;
  text-shadow: 2px 2px 4px black;
}

.form_content h1 {
  margin-bottom: 2em;
}

#welcome, .form_content h1 {
  font-size: 5em;
  margin-top: 70px;
  text-shadow: 2px 2px 4px black;

}

.panel-heading {
  text-shadow: 2px 2px 4px black;

}

#main_description {
  margin-left: 100px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  border-radius: 10px;
  font-size: 1.5em;
}

.cta {
  text-align: center;
  margin-top: 300px;
  font-size: 3em;
  color: #0e0b09;
}

.cta button {
  border-radius: 10px;
  font-size: 1em;
  background-color: #ecb84e;
}

.form_content {
  display: none;
}

.output_content {
  display: none;
}

.form-group label {
  font-size: 1.5em;
}

.form-group span {
  font-size: 1.3em;
}
