/***************
LAYOUT
***************/


body {
  font-family: 'Josefin Sans', sans-serif;
  color: #FFEEE3;
  background-image: url(../img/background_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  width: 100vw;
  height: 100vh;
}

.main-content,
.form_content {
  width: 100vw;
  height: 100vh;
}

#splash {
  border: 3px solid red;
}

#row1 {
  margin-bottom: 50px;
}

#cuisine {
  text-align: center;
}

.error {
  color: red;
  font-size: 1.1em;;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

.restInfo {
  font-size: .6em;
}

#welcome {
  font-family: 'Ultra', serif;
  color: #b77033;
  text-align: center;
  margin-bottom: 70px;
}

#small-logo {
  font-family: 'Ultra', serif;
  color: #b77033;
}

.form_content,
.output_content {
  text-align: center;
  text-shadow: 2px 2px 4px black;
  background-color: rgba(0, 0, 0, 0.5);
}

.output_content {
  font-size: 2.5em;
  color: black;
  margin: 0 auto;
}

#user-output {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  margin: 0 auto;
}

img {
  border-radius: 100%;
  height: 400px;
  width: 400px;
  border: 1px solid black;
  margin-bottom: 50px;
}

.form_content h1 {
  margin-bottom: 1em;
}

#welcome, .form_content h1 {
  font-size: 7em;
  text-shadow: 2px 2px 4px black;
}

.panel-heading {
  text-shadow: 2px 2px 4px black;
}

#main_description {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 70%;
  border-radius: 10px;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5em;
}

.form_content,
.output_content {
  display: none;
}

.form-group label {
  font-size: 1.5em;
}

.form-group span {
  font-size: 1.3em;
}

#vibe,
#price,
#name {
  color: black;
}

button {
  margin-top: 200px;
  border-radius: 10px;
  background-color: #b77033;
  color: #FFEEE3;
}

.btn {
  font-size: 3em;
  margin-bottom: 1em;

}

.show-image {
  max-width: 600px;
  margin-top: 3em;
}

@media screen and (max-width: 2560px) {
  .form-group {
    max-width: 700px;
    margin: 0;
  }
  .row {
    margin: 0 auto;
    max-width: 900px;
  }

  .form_content button {
    margin-top: 2em;
  }
}


@media screen and (max-width: 750px) {
  #welcome {
    font-size: 3em;
  }

  .form_content h1 {
    font-size: 2em;
  }

  #main_description {
    font-size: 1.2em;
    width: 90%;
  }

  .form_content .form-group {
    margin: 1.5em 0;
  }

  .form_content button {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 1.5em;

  }
}
