html {
  height: 100vh;
}

body {
  background-image: url(../img/background_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Josefin Sans', sans-serif;
  color: #e5dfda;
}

li {
  cursor: pointer;
  list-style: none;
}

.restInfo {
  font-size: .6em;
}

#welcome {
  font-family: 'Ultra', serif;
  color: #b77033;
  margin-left: 100px;
}

#text{
  color: black;
}

.form_content,
.output_content {
  text-align: center;
  margin-left: 70px;
  text-shadow: 2px 2px 4px black;
  background-color: rgba(0, 0, 0, 0.5);

}

.output_content {
  font-size: 2.5em;
  color: black;
}

#user-output {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0 auto;
}

.form_content h1 {
  margin-bottom: 2em;
}

#welcome, .form_content h1 {
  font-size: 7em;
  margin-top: 70px;
  text-shadow: 2px 2px 4px black;
}

.panel-heading {
  text-shadow: 2px 2px 4px black;
}

#main_description {
  margin-left: 100px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  border-radius: 10px;
  font-size: 1.5em;
}

.cta {
  text-align: center;
  margin-top: 300px;
  font-size: 3em;
  color: #0e0b09;
}

.cta button {
  border-radius: 10px;
  font-size: 1em;
  background-color: #ecb84e;
}

#create {
  color: #b77033;
}

.form_content {
  display: none;
}

.output_content {
  display: none;
}

.form-group label {
  font-size: 1.5em;
}

.form-group span {
  font-size: 1.3em;
}
